#
# This file is part of the LibreOffice project.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
#
# This file incorporates work covered by the following license notice:
#
#   Licensed to the Apache Software Foundation (ASF) under one or more
#   contributor license agreements. See the NOTICE file distributed
#   with this work for additional information regarding copyright
#   ownership. The ASF licenses this file to you under the Apache
#   License, Version 2.0 (the "License"); you may not use this file
#   except in compliance with the License. You may obtain a copy of
#   the License at http://www.apache.org/licenses/LICENSE-2.0 .
#
[Desktop Entry]
Version=1.0
Terminal=false
NoDisplay=false
Icon=libreofficedev4.3-startcenter
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=libreofficedev4.3 %U
MimeType=application/vnd.openofficeorg.extension;
Name=LibreOfficeDev 4.3
GenericName=Office
GenericName[en]=Office
Comment=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
Comment[en]=The office productivity suite compatible to the open and standardized ODF document format. Supported by The Document Foundation.
StartupNotify=true
X-GIO-NoFuse=true
StartupWMClass=libreoffice-startcenter
X-KDE-Protocols=file,http,smb,ftp,webdav

##Define Actions
Actions=Writer;Calc;Impress;Draw;Base;Math;

[Desktop Action Writer]
Name=Text Document
Exec=libreofficedev4.3 --writer
OnlyShowIn=Unity;

[Desktop Action Calc]
Name=Spreadsheet
Exec=libreofficedev4.3 --calc
OnlyShowIn=Unity;

[Desktop Action Impress]
Name=Presentation
Exec=libreofficedev4.3 --impress
OnlyShowIn=Unity;

[Desktop Action Draw]
Name=Drawing
Exec=libreofficedev4.3 --draw
OnlyShowIn=Unity;

[Desktop Action Base]
Name=Database
Exec=libreofficedev4.3 --base
OnlyShowIn=Unity;

[Desktop Action Math]
Name=Formula
Exec=libreofficedev4.3 --math
OnlyShowIn=Unity;

##End of actions menu
